.col_imagen{
	width: 30%;
}

.col_requisitos{
	width: 70%;
}

.dl{
	display: flex;
	/* Puede tomar los valores de row, row-reverse, column y column-reverse */
flex-direction: row;
}


.separacion{
	margin-top: 20px;;
}
.tarjetas{
	height: 150px;
	margin-top:10px;
}
.contacto{
	display: flex;
}
.img-hed{
	width: 100%;
	height:300px;
}
.img-g{
	width: 180px;
	height:180px;
}
.car{
	position: relative;

}
.fondo-hed{
	
	width: 100%;
	height:300px;
	
	z-index: 2;
	
}
.div2{
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	height:300px;
	width: 100%;
	-webkit-text-stroke: 1px black;
  color: transparent; 
	z-index: 3;
}
.fondo-hed2{
	
	width: 100%;
	height:200px;
	
	z-index: 2;
	
}
.div3{
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	height:200px;
	width: 100%;
	z-index: 3;
	-webkit-text-stroke: 1px black;
  color: transparent; 
}
.img-hed2{
	height:200px;
}
.tamano{

	width:100px;
	height:100px;
	font-size: 38px;
}
.color-icon{
	color: #0ADF3B;
}
.p1{
	-webkit-text-stroke: 0.1px black;
color: black;
}
.colorf{
	color: white;
}
.imagen-niño{
	margin-top:60px;
}
.color1{
	background-color:#0ADF3B;
}
/*
.mision{
	background-color:#0ADF3B;

}
.vision{
	background-color:#BF55FC;
}
.valores{
	background-color:#E7F105;

}
*/
.formulario{
	border-radius: 15px;
	border-color:#FC55A3 ;
	-webkit-box-shadow: 2px 12px 15px #999;
	-moz-box-shadow: 2px 2px 5px #999;
}
.container1{
	align-content:center;
}


.mg-about{
	width: 150px;
	height: 150px;
	
}
.color6{
	background-color:#E7F105;
}
.color3{
	background-color:#55BAFC;
}
.color4{
	background-color:#FC5D55;
}
.color5{
	background-color:#BF55FC;
}
.color2{
	background-color:#FC55A3;
}
.color9{
	background-color:#52BE80  ;
}

.about{
	width:100%;
	border-radius: 20px;
}
.abajo-derecha:before {
	content: "";
	
	margin-left: 50%;
	left: 50%;
	width: 0;
	height: 0;
	border-width: 50px 50px 0px;
	border-style: solid;
	border-color:#52BE80   transparent transparent;
    }

@media (max-width: 990px) {
	.tarjetas{
		height: 250px;
	}
      }

/* parte1 */
@media (max-width: 768px) {
	.parte1 {
	  display: none;
	}
	.tarjetas{
		height: 150px;
	}
	.parte2{
		margin-left: 13%;
	}
      }

      @media(max-width:500px){
	.contacto{
		display: block;
	}
	.mg-about{
		width: 100px;
		height: 100px;
		display: none;
	}
      }

      @media (max-width: 368px) {
	.tarjetas{
		height: 200px;
	}
      }

  