@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Orelega+One&display=swap');
*{
   font-family: 'Arimo', sans-serif;
font-family: 'Orelega One', cursive;
}
.espacio{
    margin-left: 40%;

}
.galeria{
    display: flex;
}
.iconos{
    


}

.btn-whats{
    
    margin-left: 93%;
    position:fixed; 
    z-index:3;
    
}
.img-whats{
    height:75%;
    width: 75%;
    
}
.separador{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}
.text-iconos{
    display: grid;
}

@media(max-width:420px){
    .separador{
    height: 8px;
}
    .texto-re{
        display: block;

    }
    .galeria-titulo{
        height: 30px;
        width: 270px;
    }
    .separador{
        margin-left: 2px;
    }
    .h5{
        font-size: 15px;
    }
   .texts{
       display:none;
   }
   .juegos{
       display:flex;
   }
   .btn-whats{
       margin-left: 80%;
   }
}
.titulo-conten{
    height:150px;
   
}
.titlo-a{
   
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 990px) {
	.img-whats{
        height:85%;
        width: 85%;
        
    }
      }

/* parte1 */
@media (max-width: 768px) {
	.img-whats{
        height:95%;
        width: 95%;
        
    }
      }



      @media (max-width: 368px) {
	
      }